.container {
    padding: 0px 15px;
    display: flex;
    flex-direction: column;
    margin: 10vh 0;
}

.headerCont {
    display: flex;
    position: relative;
}

.gradientHeader {
    font-size: 22px;
    text-transform: uppercase;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1em;
    margin: 0;
}

.line {
    width: 65%;
    height: 2px;
    background-image: var(--gradient);
    position: absolute;
    bottom: 5px;
    right: 0;
}

.sliderCont {
    width: 100%;
    overflow: hidden;
}

@media (min-width: 768px) {
    .container {
        padding-left: 45px;
        position: relative;
    }

    .headerCont {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 40px;
        width: 100%;
    }

    .gradientHeader {
        font-size: 40px;
        width: 60%;
    }

    .line {
        position: static;
        width: 80%;
        background-image: none;
        background-color: var(--color-main);
        height: 2px;
    }

    .arrowsContDesktop {
        width: 300px;
    }

}
