.container {
    width: 100%;
    min-height: 300px;
    background-color: var(--color-main);
    color: #fff;
    padding: 15px;
    padding-bottom: 25px;
    position: relative;
}

.light {
    background-image: var(--gradient);
    color: var(--color-main);
    min-height: 200px;
}

.withImg {
    padding-bottom: 240px;
}

.headerCont {
    display: flex;
    align-items: center;
    height: 80px;
}

.iconWrapper {
    color: var(--color-light);
}

.icon svg {
    fill: currentColor;
    width: 40px;
    height: 40px;
    align-self: flex-start;
}

.line {
    width: 60px;
    height: 2px;
    background-image: var(--gradient);
    margin-left: 30px;
}

.light .line {
    background-color: var(--color-main);
    background-image: none;
}

.header {
    text-transform: uppercase;
    font-size: 18px;
    padding-left: 15px;
    line-height: 1em;
    letter-spacing: 1px;
}

.text {
    font-size: 1.15rem;
    line-height: 1.65em;
    margin-top: 1em;
}

.img {
    max-width: 70%;
    max-height: 70%;
    position: absolute;
    bottom: -60px;
    right: 30px;
}

@media (min-width: 768px) {
    .container {
        padding: 15px;
        min-height: 400px;
    }

    .light {
        min-height: 250px;
    }

    .withImg {
        padding-bottom: 240px;
    }

    .headerCont {
        height: 80px;
    }

    .icon svg {
        width: 40px;
        height: 40px;
    }

    .line {
        width: 60px;
    }

    .header {
        font-size: 24px;
        line-height: 1.2em;
        letter-spacing: 2px;
    }

    .img {
        max-width: 50%;
        max-height: 50%;
        bottom: -60px;
        right: 30px;
    }
}
