.container {
    background-color: #fff;
    width: 100%;
    height: auto;
    font-size: 14px;
    color: var(--color-main);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 8px;
    cursor: pointer;
    text-decoration: none;
}

.dark {
    background-color: var(--color-main);
    color: #fff;
}

.plus {
    font-size: 24px;
    font-weight: normal;
    transition: all .2s ease-in;
}

.container:hover > .plus {
    transform: scale(1.35);
}

@media (min-width: 768px) {
    .container {
        /* height: 60px; */
        font-size: 18px;
        padding-left: 28px;
        padding-right: 12px;
        letter-spacing: 2px;
    }

    .plus {
        font-size: 48px;
    }
}
