.container {
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 60px;
    position: relative;
    z-index: 0;
    margin-bottom: 120px;
}

.container:after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: var(--color-main-transparent);
    z-index: -1;
}

.headerCont {
    text-transform: uppercase;
    color: #fff;
    padding: 0 8%;
    padding-bottom: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    width: 80%;
    color: #fff;
}

.mainHeader {
    font-size: 30px;
    line-height: 1em;
}

.featuresCont {
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .headerCont {
        width: 70%;
        padding-bottom: 0;
    }

    .mainHeader {
        font-size: 8vh;
    }

    .featuresCont {
        height: 100px;
        bottom: -50px;
        padding: 0 15px;
    }
}
