.container {
    width: calc(33vw - 5px);;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: auto;
    max-height: 50px;
    max-width: 25vw;
}

@media (min-width: 768px) {
    .container {
        width: calc(14vw - 8px);
        padding: 15px;
    }

    .logo {
        max-height: 120px;
        max-width: 100%;
    }
}
