.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Montserrat', sans-serif;
}

.img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.name__cont {
    letter-spacing: 1px;
}

.name__header {
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    line-height: 1em;
}

.name__headerBold {
    font-weight: 800;
    line-height: 20px;
}

.name__subTitle {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 0;
    line-height: 1em;
}

@media (min-width: 768px) {
    .img {
        width: 50px;
        height: 50px;
    }

    .name__header {
        font-size: 30px;
        line-height: 30px;
    }

    .name__subTitle {
        font-size: 12px;
    }
}
