.container {
    font-size: 24px;
    text-transform: uppercase;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.2em;
    position: relative;
    width: 100%;
    padding: 0px 15px;
    margin-top: 30px;
}

.container::after {
    content: " ";
    background: var(--gradient);
    height: 2px;
    width: calc(50% - 15px);
    position: absolute;
    right: 15px;
    bottom: 5px;
}

.text {
    width: 50%;
}

.wide .text {
    width: 75%
}

.wide.container::after {
    width: 55%;
}

@media (min-width: 768px) {
    .container {
        font-size: 46px;
        margin-top: 90px;
    }

    .container::after {
        width: 76%;
    }

    .text {
        width: 22%;
    }

    .wide .text {
        width: 50%;
    }

    .wide.container::after {
        width: 75%;
    }
}
