.container {
    background-color: var(--color-main-transparent);
    max-height: 100%;
    height: 50%;
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    color: #fff;
    flex: 1;
    margin: 0;
    transition: all .2s ease-in;
}

.light {
    background-image: var(--gradient);
    color: var(--color-main);
}

.solid {
    background-color: var(--color-main);
    height: 100%;
    max-width: 100%;
    margin: 0;
}

.active {
    pointer-events: none;
}

.container:hover {
    justify-content: space-around;
}

.container:hover > .buttonCont {
    max-height: 100%;
    opacity: 1;
    transition: opacity .2s .2s linear;
}

.buttonCont {
    display: none;
}

.default {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.icon svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
}

.description {
    font-size: 14px;
    font-weight: bold;
    width: 50px;
    line-height: 1em;
    text-transform: uppercase;
}

@media (min-width: 768px) {
    .container {
        width: auto;
        width: 100%;
        height: 200px;
        max-height: 110px;
        padding: 20px 30px;
        padding-top: 40px;
        margin: 0 15px;
    }

    .container:hover {
        max-height: 200px;
        padding-bottom: 0;
        justify-content: space-between;
    }

    .container:hover > .buttonCont {
        max-height: 100%;
        opacity: 1;
        transform: scale(1);
        transition: opacity .3s .2s linear, max-height 0s .2s;
    }

    .default {
        flex: 0 1 auto;
        padding: 0 !important;
    }

    .buttonCont {
        display: block;
        width: 100%;
        transform: scale(0);
        max-height: 0px;
        opacity: 0;
    }

    .icon {
        width: 50px;
        height: 50px;
        margin-right: 30px;
    }

    .description {
        font-size: 20px;
        width: 100px;
    }
}
