:root {
    --color-main: #17105e;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
  font-family: 'Lekton', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
